.App {
    text-align: center;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Developers, .Home, .Results, .Settings, .Repo, .Commits, .Comments, .CodeDiff,
.Summary {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.center {
  margin: 0 auto;
  align-self: center;
}

.loginwrapper{
    padding-left: 20px;
    padding-top: 20px;
}

.login{
    padding: 5px;
    margin-left:20px;
}

.login:hover{
    border-style: groove;
    border-width: 3px;
    color:darkcyan;
    font-weight: bold;
}

.login:active{
    border-style: ridge;
    border-width: 3px;
    background-color: darkcyan;
    color:white;
}

h2{
    margin-left: 20px;
    padding-top:20px;
}

.signuptext{
    margin-left: 20px;
}

.spacer{
    width:30px;
    height:auto;
    display:inline-block;
}

input{
    width:270px !important;
}

.login-h2{
    margin-left: 10px !important;
    padding-top:20px;
}