.App {
    text-align: center;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Developers, .Home, .Results, .Settings, .Repo, .Commits, .Comments, .CodeDiff,
.Summary {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

/*.App-header {*/
/*    background-color: #282c34;*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: calc(10px + 2vmin);*/
/*    color: white;*/
/*}*/