.filters-header-margin{
    margin-left:56%;
}

.sort-header-margin{
    margin-left:82.5%;
}

.sort-by-date-margin{
    margin-left:0 !important;
}

.sort-by-word-count-margin{
    margin-left:0 !important;
}

.sort-by-message-margin{
    margin-left:0 !important;
}

.unsort-margin{
    margin-left:1% !important;
}

.comments-on-both-margin{
    margin-left:0 !important;
}

.comments-on-issues-margin{
    margin-left:-30% !important;
}

.comments-on-code-reviews-margin{
    margin-left: 0 !important;
}

.comments-on-dev-code-margin{
    margin-left:-30% !important;
}

.button-colour-when-unsorted{
    color: #000000 !important;
}

.button-colour-when-sorted-ascending{
    color: #4ac11b !important;
}

.button-colour-when-sorted-descending{
    color: #d90c0c !important;
}

.filter-button-colour-when-used{
    color: #070da9 !important;
}

.comments-table{
    margin:auto !important;
    table-layout: auto;
    width:90% !important;
}

.comments-table-date{
    min-width:175px;
}

.comments-table-wc{
    min-width:120px;
    text-align: center;
}

.filter{
    padding: 5px;
    margin-left:15px;
}

.filter:hover{
    color:darkcyan;
}

.filter:active{
    background-color: darkcyan;
    color:white;
}

.vspace{
    margin-bottom: 2cm;
}

.removeBorder{
    border:none !important;
}

.table-button{
    border-width: 0;
    background-color: #ffffff00;
}