.filters-header-margin{
    margin-left:65%;
}

.sort-header-margin{
    margin-left:15%
}

.sort-by-date-margin{
    margin-left:25%
}

.comments-table{
    margin:auto !important;
    table-layout: auto;
    width:90% !important;
}

.comments-table-date{
    min-width:175px;
}

.comments-table-wc{
    min-width:120px;
    text-align: center;
}

.filter{
    padding: 5px;
    margin-left:15px;
}

.filter:hover{
    color:darkcyan;
    font-weight: bold;
}

.filter:active{
    background-color: darkcyan;
    color:white;
}

.vspace{
    margin-bottom: 2cm;
}

.removeBorder{
    border:none !important;
}