.filters-header-margin{
    margin-left:259.7%;
}

.sort-header-margin{
    margin-left:82.5%;
}

.sort-by-date-margin{
    margin-left:0% !important;
}

.sort-by-word-count-margin{
    margin-left:0% !important;
}

.sort-by-message-margin{
    margin-left:0% !important;
}

.unsort-margin{
    margin-left:1% !important;
}

.comments-on-both-margin{
    margin-left:24% !important;
}

.comments-on-issues-margin{
    margin-left:15% !important;
}

.comments-on-code-reviews-margin{
    margin-left: 24.15% !important;
}

.comments-on-dev-code-margin{
    margin-left: 15% !important;
}

.button-colour-when-unsorted{
    color: #000000 !important;
}

.button-colour-when-sorted-ascending{
    color: #4ac11b !important;
}

.button-colour-when-sorted-descending{
    color: #8a0808 !important;
}

.comments-table{
    margin:auto !important;
    table-layout: auto;
    width:90% !important;
}

.comments-table-date{
    min-width:175px;
}

.comments-table-wc{
    min-width:120px;
    text-align: center;
}

.filter{
    padding: 5px;
    margin-left:15px;
}

.filter:hover{
    color:darkcyan;
    font-weight: bold;
}

.filter:active{
    background-color: darkcyan;
    color:white;
}

.vspace{
    margin-bottom: 2cm;
}

.removeBorder{
    border:none !important;
}