input[type='radio'], label{
    vertical-align: baseline;
    padding: 10px;
    margin: 10px;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}


