.DropDownMenu {
    color: black;
    padding: 2px 2px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    width: 100%;
    margin-left: 10px;
}

.snap-widget{
    width:100%;
    margin-left:auto;
    margin-right:30px;
}

