.DropDownMenu {

    margin-Left: 400px;
    margin-Right: 400px;
    color: black;
    border-Color: green;
    padding: 2px 2px;
    border: 5px solid transparent;
    border-Top-Color: blue;
    border-Right-Color: blue;
    border-Left-Color: blue;
    border-Bottom-Color: blue;
    font-size:18px;
    font-weight:600;
}

