.navbarItems{
    background:darkcyan;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;

}

div {
    white-space: pre-wrap;
}
.highlight {
    background: lightgreen;
}

.highlight2 {
    background: lightcoral;
}

.Footer {
    color: white;
    margin-top: 30px;
    margin-left: 400px;
    font-size: 30px;
    width: 50%;
    height: 40px;
    flex: 1;

}
.footer {
    padding: inherit;
}
.navMenu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
}

.Button{
    color: black;
    font-size: 30px;

}

.navMenu-sub{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 40px;
    list-style: none;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
}

.navbar ul li{
    position: relative;
}

.nav-icon {
    color: #fff;
    margin-top: 0px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px 5px;
    border-radius: 8px;
    position: absolute;
    top:0;
    left: 0;
  }

.nav-icon:hover{
    background-color:darkturquoise ;
    color: white;
    transition-duration: .5s;
    
}

.nav-links{
    display: flex;
    align-content: center;
    padding:8px;
}


.nav-links a{
    color: white;
    margin-top: 10px;   
    font-size: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    padding: 5px 16px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}


.nav-links a:hover{
    background-color:darkturquoise ;
    color: white;
    height: 70%;
    transition-duration: .5s;
}

span{
    margin-left: 7px;
}

.nav-links-signin a{
    color: #fff;
    margin-top: 10px;
    display: flex;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    position: absolute;
    top:0;
    right: 150px;
    text-decoration: none;
  }

.nav-links-signin a:hover{
    background-color:darkturquoise ;
    color: white;
    transition-duration: .5s;
    
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: gray;
}