.signupform{
    padding-left: 20px;
    padding-top: 20px;
}

.cancel{
    padding: 5px;
    margin-right:50px;
}

.cancel:hover{
    border-style: groove;
    border-width: 3px;
    color:red;
    font-weight: bold;
}

.cancel:active{
    border-style: ridge;
    border-width: 3px;
    background-color: red;
    color:white;
}

.signup, .checkAvail{
    padding: 5px;
}

.signup:hover, .checkAvail:hover{
    border-style: groove;
    border-width: 3px;
    color:darkcyan;
    font-weight: bold;
}

.signup:active, .checkAvail:active{
    border-style: ridge;
    border-width: 3px;
    background-color: darkcyan;
    color:white;
}

input{
    padding-top:5px;
    padding-bottom:5px;
    width:225px;
}

.checkAvail{
    margin-left:10px;
}

.checkAvail:hover{
    border-style: groove;
    border-width: 3px;
    color:black;
    font-weight: bold;
}

.checkAvail:active{
    border-style: ridge;
    border-width: 3px;
    background-color: black;
    color:white;
}

.success{
    color:darkcyan;
    margin-left:5px;
    margin-top:10px;
}

.fail{
    color:red;
    margin-left:5px;
    margin-top:10px;
}

.signup {
    margin-left:20px;
}

.terms{
    margin-left: 20px;
}

.terms-button{
    margin-left: 5px !important;
}

/* from https://react-popup.elazizi.com/react-modal */
.modal {
    font-size: 12px;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}