.profile{
    padding-left: 20px;
    padding-top: 20px;
}

.logout, .passChange, .tokenChange{
    padding: 5px;
}

.logout, .passChange{
    margin-top:10px;
}

.tokenChange{
    margin-top:40px;
}

.logout:hover{
    color:red;
}

.logout:active{
    background-color: red;
    color:white;
}

.passChange:hover, .tokenChange:hover{
    color:darkcyan;
}

.passChange:active, .tokenChange:active{
    background-color: darkcyan;
    color:white;
}

.profile-h2{
    margin-left: 0px !important;
    padding-top:20px;
}